.minkMove1 {
  animation-name: minkMove1;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes minkMove1 {
  0% {
    transform: translate(-600%, 200%) rotate(0deg);
  }
  50% {
    transform: translate(-185%, -150%) rotate(1000deg);
  }
  100% {
    transform: translate(230%, 200%) rotate(2000deg);
  }
}

.minkMove2 {
  animation-name: minkMove2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-fill-mode: backwards;
}

@keyframes minkMove2 {
  0% {
    transform: translate(-550%, 200%);
  }
  50% {
    transform: translate(-100%, 200%);
  }
  100% {
    transform: translate(220%, 100%);
  }
}

.minkMove3 {
  animation-name: minkMove3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-fill-mode: backwards;
}

@keyframes minkMove3 {
  0% {
    transform: translate(-600%, 200%);
  }
  20% {
    transform: translate(-400%, 100%);
  }
  40% {
    transform: translate(-200%, 0%);
  }
  60% {
    transform: translate(0%, 100%);
  }
  80% {
    transform: translate(100%, -100%);
  }
  100% {
    transform: translate(220%, 0%);
  }
}

.minkMove4 {
  animation-name: minkMove4;
  animation-duration: 4s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 4s;
  animation-fill-mode: backwards;
}

@keyframes minkMove4 {
  0% {
    transform: translate(-600%, 200%) rotate(0deg);
  }
  50% {
    transform: translate(-105%, 200%) rotate(1000deg);
  }
  100% {
    transform: translate(230%, 200%) rotate(2000deg);
  }
}

.minkMove5 {
  animation-name: minkMove5;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: backwards;
}

@keyframes minkMove5 {
  0% {
    transform: translate(-600%, -150%);
  }
  50% {
    transform: translate(-105%, -150%);
  }
  100% {
    transform: translate(230%, 200%);
  }
}

.voteMove1 {
  animation-name: voteMove1;
  animation-duration: 5s;
  animation-delay: 4s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

@keyframes voteMove1 {
  0% {
    transform: translate(-700%, 105%);
  }
  100% {
    transform: translate(200%, 105%);
  }
}

.voteMove2 {
  animation-name: voteMove2;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 8s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
}

@keyframes voteMove2 {
  0% {
    transform: translate(-700%, -150%);
  }
  100% {
    transform: translate(200%, -150%);
  }
}

.disapear {
  animation-name: disapear;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes disapear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.paused {
  animation-play-state: paused;
}

.disapear2 {
  animation-name: disapear2;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes disapear2 {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
