#screen {
  outline: solid 2px black;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

#background {
  outline: solid 2px black;
  position: absolute;
  top: 0%;
  right: 0%;
}

#mink_1_sprite {
  outline: solid 2px black;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_2_sprite {
  outline: solid 2px black;
  position: absolute;
  top: 25%;
  left: 20%;
}

#mink_3_sprite {
  outline: solid 2px black;
  position: absolute;
  top: 70%;
  left: 30%;
}

#vote_1_sprite {
  outline: solid 2px black;
  position: absolute;
  top: 60%;
  left: 60%;
}
