body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}

#game_background {
  grid-area: 1/1;
  background-image: url(Grafik/background.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#game_ui {
  position: absolute;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  color: wheat;
  display: grid;
  top: 1.7vw;
}

#time_board {
  display: grid;
}

#timer {
  margin-left: 11vw;
}

#score_board {
  display: grid;
}

#points {
  white-space: nowrap;
  position: absolute;
  text-align: right;
  margin-left: 53vw;
  margin-top: -2.35vw;
}

#life_board {
  display: grid;
}

#lives {
  position: absolute;
  margin-left: 75vw;
  margin-top: -2.35vw;
}

#mink_1_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_2_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_3_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_4_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_5_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#vote_1_container {
  width: 10%;
  position: absolute;
  top: 60%;
  left: 60%;
}

#vote_2_container {
  width: 10%;
  position: absolute;
  top: 60%;
  left: 60%;
}
