body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
}

#game_background {
  grid-area: 1/1;
  background-image: url(Grafik/background.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#game_ui {
  position: absolute;
  font-size: 2vw;
  font-weight: bold;
  text-align: left;
  color: wheat;
  display: grid;
  top: 1.7vw;
}

#time_board {
  display: grid;
}

#timer {
  margin-left: 11vw;
}

#score_board {
  display: grid;
}

#game_over {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(Grafik/gameover.png);
  background-size: 100%;
}

#level_complete {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(Grafik/levelcomplete.png);
  background-size: 100%;
}
#start {
  grid-area: 1 /1;
  z-index: 999;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: url(Grafik/startscreen.png);
  background-size: 100%;
}

.hidden,
#game_over.hidden,
#level_complete.hidden,
#game.hidden,
#start.hidden {
  display: none;
}

#points {
  position: absolute;
  text-align: right;
  margin-left: 53vw;
  margin-top: -0.3vw;
}

#life_board {
  display: grid;
  grid-template-columns: 2vw 2vw 2vw;
}

#life_board img {
  margin-left: 75vw;
  margin-top: 0.3vw;
  width: 100%;
}

.active_heart {
  filter: grayscale(0%);
}

.broken_heart {
  filter: grayscale(100%);
}

#mink_1_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_2_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_3_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_4_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#mink_5_container {
  width: 12%;
  position: absolute;
  top: 40%;
  left: 50%;
}

#vote_1_container {
  width: 10%;
  position: absolute;
  top: 60%;
  left: 60%;
}

#vote_2_container {
  width: 10%;
  position: absolute;
  top: 60%;
  left: 60%;
}

button {
  padding: 0.5vw 1vw;
  font-size: 2vw;
  margin: auto;
  background-color: lightskyblue;
  color: blue;
  border: 0.5vw solid blue;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 17vw;
}

#time_board {
  position: relative;
}

#time_container {
  position: absolute;
  width: 350%;
  aspect-ratio: 90/6;
  border: 0.3vw solid black;
  background-color: rgba(208, 204, 204, 0.383);
  left: 10vw;
  top: 0.1vw;
}

#time_sprite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: limegreen;
  transform-origin: left;
}
